{% extends 'base.html' %}

{% block content %}


<div class="row">
    <h3>Stock Info For {{ symbol }}</h3>
    <div class="col-12">
        <h6>Average Closing Price Over {{ days }} days: {{ average }}</h6> 

    </div>

</div>


<div class="row mt-2">
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning" role="alert">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}

</div>



  {% if results |length > 0 %}
  
  <div class="row mt-2">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody>

     
        {% for obj in results.keys() %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ obj }}</td>
            <td>
                {{ results[obj]['1. open'] }}
            
            </td>
            <td>{{ results[obj]['2. high'] }}</td>
            <td>{{ results[obj]['3. low'] }}</td>
            <td>{{ results[obj]['4. close'] }}</td>
            <td>{{ results[obj]['5. volume'] }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

  {% else %}
  <div class="row mt-2">
  <div class="card card-info">
    <div class="card-body">
      Not Results Found
    </div>
  </div>
</div>



  {% endif %}

{% endblock %}